/*class*/

.text {
    font-size: 20px;
    height: 40px;
}

/* special value */

#container {
    position: center;
    height: 50px;
    margin: auto;
    width: 50%;
}
#input {
    font-size: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
#btn {
    padding-right: 0px;
    padding-left: 0px;
    background-color: chartreuse;
    border: 0;
    color: #ff0000;
}
#alertMessage {
    color:
}

/* type */

span {
    color: darkred;
}
button {
    border: 0;
    background-color: snow;
}
li {
    color: black;
    list-style-type: none;
}

/* hover */

span:hover {
    color: red;
}
button:hover {
    background-color: gray;
}
li:hover {
    color: red;
    list-style-type: none;
}
