#input {
    font-size: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

#btn {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 20px;
    background-color: chartreuse;
    border: 0;
    color: snow;
}

span {
    font-size: 20px;
    color: darkred;
}

button {
    border: 0;
    background-color: snow;
}

li {
    height: 40px;
    font-size: 20px;
    color: black;
    list-style-type: none;
}

span:hover {
    font-size: 20px;
    color: red;
}

button:hover {
    font-size: 20px;
    background-color: gray;
}

li:hover {
    height: 40px;
    font-size: 20px;
    color: red;
    list-style-type: none;
}